@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", Oswald, Raleway, Arial;
}

header {
    margin: 20px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 0 0 6.25%;

    aspect-ratio: 1;

    border: 1px solid black;
    margin-bottom: -1px; /* Shifts the next element up by 1px */
    margin-right: -1px;  /* Shifts the next element left by 1px */
}