@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", Oswald, Raleway, Arial;
}

header {
    margin: 20px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: #FF5722;
}

button:hover {
    background-color: #e64e1f;
}

.optionsMenu {
    border: 2px solid black;
    width: 45%;
    padding: 2rem;
    background-color: #76ABAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.box {
    aspect-ratio: 1;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}